<!DOCTYPE html>
<html lang="hu">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Hiba oldal</title>
  </head>
  <body>
    <h1>Valami félrement!</h1>
    <p><%= err %></p>
    <a href="/">Nyitó oldal</a>
  </body>
</html>
